POSTGRES_DB=change-me
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/dailystep
SPRING_DATASOURCE_USERNAME=change-me
SPRING_DATASOURCE_PASSWORD=change-me

SPRING_PROFILES_ACTIVE=prod
